<head>
<h1>Доброе утро, солнышко мое!</h1>
<p>Поздравляю тебя с замечательным праздником, с Днем Рождения!</p>
<p>Я подготовил тебе кое-что, но просто так ты его не получишь) Напиши @23_bot в телеге, и все поймешь)</p>
</head>

<body>
    <p>Что делать с этим, ты узнаешьнемного позднее )</p>

</body>